snippet ru "rutina" b
name_rutina:
   $0
   ret

endsnippet

# snippet doc "doc comment" b
# ;;
# ;; ${1:Description}
# ;;
# endsnippet

snippet doc "doc args" b
;; Objetive: $1
;; Pre requirements
;;  - $2
;; Modifies: $3
endsnippet

snippet et "etiqueta con doc" b
;; Objetive: $1
;; Pre requirements
;;  - $2
;; Modifies: $3
${4:name}:
   $5
   ret
endsnippet

snippet todo "TODO" b
;; TODO: ${1:implementar}
endsnippet

